{% extends 'base.html' %}

{% block content %}
        <div class="events" style="margin: auto; width: 70%;
                                        text-align: center;
                                        padding: 10px;
                                        margin-top: 50px;
                                        
                                        ">
                <div class="news" style="
                                        
                                        margin: auto;
                                        width: 100%;
                                        margin-bottom: 30px;
                                        padding: 30px;
                                        padding-bottom: 50px;
                                        box-shadow: 1px 3px 5px rgb(161, 159, 159);
                                        background-color: rgb(233, 219, 245);
                                        ">
                    <a href="#" style="text-decoration: none; color: rgb(83, 82, 82);" >News</a>
                                        <hr style="background-color: rgb(134, 134, 134);">

                    
                </div>
                <div class="units" style="
                                            margin-bottom: 30px;
                                            padding: 30px;
                                            padding-bottom: 50px;
                                            box-shadow: 1px 3px 5px rgb(161, 159, 159);
                                            background-color: rgb(233, 219, 245);
                                            ">
                    <a href="{% url 'registerUnits' %}" style="text-decoration: none; color: rgb(83, 82, 82);">Registered Units</a>
                                        <hr style="background-color: rgb(134, 134, 134);" >
                </div>
                <div class="event" style="
                                            margin-bottom: 30px;
                                            padding: 30px;
                                            padding-bottom: 50px;
                                            box-shadow: 1px 3px 5px rgb(161, 159, 159);
                                            background-color: rgb(233, 219, 245);
                                        ">
                    <a href="#" style="text-decoration: none; color: rgb(83, 82, 82);" >Events</a>
                                        <hr style="background-color: rgb(134, 134, 134);" >
                </div>
            </div>
            <div class="fee" style="margin: auto; 
                                    width: 30%; 
                                    text-align: center;
                                    background-color: rgb(255, 255, 208);
                                    border: solid 1px grey;
                                    box-shadow: 1px 3px 5px rgb(161, 159, 159);
                                    padding-top: 15px;
                                    background-color: rgb(233, 219, 245);
                                    
                                    ">
                <p>Your fees balance is:</p>
                <h2>Ksh : 00</h2>
            </div>

        </div>
        

    
        <!-- <div class="whole" style="display: flex; margin: auto; width: 70%;"> -->
            
        <!-- </div> -->
    </div>
{% endblock %}