{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center" id="row" >
            <div class="cards" style="box-shadow: 0 3px 5px grey; margin-bottom: 40px; background-color: rgb(233, 219, 245);">
                <div class="card-body" >
                    <img src="/static/images/laptop.jpg" alt="" style="width: 100%; ">

                    <div class="col" style="width: 80%; margin: auto; margin-top: 20px; " >
                        <h1 style="text-align: center;">Tech Fest</h1>
                        <p>WE are happy to inform you all that we will be having our firt tech festival since the school commenced this semister.</p>
                        <p>We are pleased to invite all of you to the tech festival which will be held on August 11th at Impala grounds. <br> Tickets will be selling at affordable prices which are pocket friendly to all students </p>
                        <p>Our tickets will be sold by Betty the school secretary</p>
                        <div class="price" style="margin: auto; width: 40%;">
                            <h3>Early Bird : 500</h3>
                            <h3>At the Gate : 1000</h3>
                            <h3>VIP : 1500</h3>
                            <h3>VVIP : 2000</h3>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <div class="row justify-content-center" id="row" >
            <div class="cards" style="box-shadow: 0 3px 5px grey; margin-bottom: 40px; background-color: rgb(233, 219, 245);">
                <div class="card-body" >
                    <img src="/static/images/group.jpg" alt="" style="width: 100%; ">

                    <div class="col" style="width: 80%; margin: auto; margin-top: 20px; " >
                        <h1 style="text-align: center;">MEET AND GREET</h1>
                        <p>WE are pleased to inform you all that we will be having a Meet and Great.</p>
                        <p>The Meet and Great will be held at iHub in westlands.  </p>
                        <p>Entrance will be free of charge ,but a School Id will be needed at the entrance</p>
                        
                    </div>
                </div>
            </div>
            
        </div>

    </div>


{% endblock %}